<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>

    <!--  引入外部文件  -->
    <properties resource="db.properties">
        <property name="username" value="root"/>
        <property name="pwd" value="root"/>
    </properties>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--  可以给实体类起别名  -->
    <typeAliases>
<!--        <typeAlias type="com.github.User" alias="User"/>-->
        <package name="com.github.subei.pojo"/>
    </typeAliases>

    <environments default="development">
        
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${pwd}"/>
            </dataSource>
        </environment>
        
    </environments>

    <!--  每一个Mapper.xml都需要在mybatis核心配置文件中注册！  -->
    <mappers>
<!--        <mapper resource="com/github/subei/dao/UserMapper.xml"/>-->
<!--        <mapper class="com.github.UserMapper"/>-->
        <package name="com.github.subei.dao"/>
    </mappers>

</configuration>